##########
# Section: Application Environment
#############

APP_SETTINGS=
DEBUG=

#############
# Section: Local DB connection
#############

DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_HOST=localhost or postgres(for docker)
DATABASE_PORT=5432
DATABASE_NAME=